<div class="container mt-5 d-flex justify-content-center">
  <div class="col-4">
    <label for="">Select Plan</label>
    <select  (change)="onPlanChange($event)" class="form-control">
      <option value="" selected disabled>Select Plan type</option>
      <option *ngFor="let plan of planList"
      [value]="plan.value">{{plan.label}}</option>
    </select>
    <div class="text-end">
      <button (click)="onPay()" *ngIf="planType" class="btn btn-primary mt-3">Pay</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div [formGroup]="formGroup">
  <label for="expiryDate">Expiry Date:</label>
  <input type="text" id="expiryDate" formControlName="expiryDate">

  <div *ngIf="formGroup.get('expiryDate')?.hasError('required')">
    Expiry Date is required.
  </div>
  <div *ngIf="formGroup.get('expiryDate')?.hasError('pattern')">
    Expiry Date should be in MM/YY format.
  </div>
</div> -->